/* title: Metro 7 */
/* author: [Wario](https://wariowareneocities.neocities.org) */
/* icon: https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Windows_Phone_7.5_logo.svg/2048px-Windows_Phone_7.5_logo.svg.png */
/* description: Windows Phone 7-style theme for Groove Launcher. */
#app div.groove-app-menu {
  left: 10px;
  width: calc(100% - 20px);
}

#app div.groove-app-menu::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

#app div.tile-list-inner-container {
  width: calc(100% - 38px - 68px);
}

#app div.app-page-icon-banner {
  top: calc(var(--window-inset-top, 0px));
  position: fixed;
  pointer-events: none;
}

#app div.app-page-icon-banner div.update-banner {
  position: absolute;
  left: 100%;
  top: 80px;
  transform-origin: 0% 0%;
  transform: rotate(90deg);
}

#app div.app-page-icon-banner div.update-banner::after {
  left: 10px;
}

#app #app-page-icon, #app #search-icon {
  pointer-events: all;
  background-size: 100% 100%;
}

#app div.groove-home-inner-tile::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

#app p.groove-home-tile-title {
  z-index: 3;
}

#app div.groove-letter-tile p.groove-app-tile-icon {
  position: relative;
}

#app div.groove-app-tile div.groove-app-tile-icon::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

#app div.letter-selector div.letter-selector-letter.disabled {
  position: relative;
}

#app div.letter-selector div.letter-selector-letter.disabled::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}